<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# ----- Basic SEO ----- #}
    <title>{{ title | default(site.pages[page.url].title | default(site.title)) }}</title>
    <meta name="title" content="{{ title | default(site.pages[page.url].title | default(site.title)) }}">
    <meta name="description" content="{{ description | default(site.pages[page.url].description | default(site.description)) }}">

    <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">

    {# Google Search Console #}
    {# <meta name="google-site-verification" content="..." /> #}

    {# ----- Favicons ----- #}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ favicon.png16 | default('/assets/images/ui/favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ favicon.png32 | default('/assets/images/ui/favicon/favicon-32x32.png') }}">
    {% if favicon.svg %}
      <link rel="icon" href="{{ favicon.svg }}" type="image/svg+xml">
    {% endif %}
    {% if favicon.ico %}
      <link rel="shortcut icon" href="{{ favicon.ico }}">
    {% endif %}
    {% if favicon.appleTouch %}
      <link rel="apple-touch-icon" href="{{ favicon.appleTouch }}">
    {% endif %}

    {# ----- Social Metadata (Open Graph) ----- #}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{{ title | default(site.pages[page.url].title | default(site.title)) }}">
    <meta property="og:description" content="{{ description | default(site.pages[page.url].description | default(site.description)) }}">
    <meta property="og:image" content="{{ site.url }}/assets/social-share.jpg">

    {# ----- Twitter Card ----- #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="{{ title | default(site.pages[page.url].title | default(site.title)) }}">
    <meta name="twitter:description" content="{{ description | default(site.pages[page.url].description | default(site.description)) }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/social-share.jpg">

    {# ----- Fonts ----- #}
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
    {# ----- Image preload (optional) ----- #}
    <link rel="preload" as="image" href="/assets/images/TODO">

    {# ----- Stylesheets ----- #}
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"/>

    {# ----- Manifest and theme color ----- #}
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="min-h-screen flex flex-col">

    {# ----- Header Organism ----- #}
    {% from "01-organisms/header.njk" import renderHeader %}

    {{ renderHeader({ 
        name: "thomas_header",
        datas: organisms.header.headers,
        vectorDatas: atoms.vector.vectors,
        tabMenuDatas: molecules["tab-menu"].tab_menus,
        linkDatas: atoms.link.links,
        iconDatas: atoms.icon.icons
    }) }}
    
    {# ----- Main content ----- #}
    <main class="flex-grow">
      {{ content | safe }}
    </main>

    {# ----- Footer Organism ----- #}
    {% from "01-organisms/footer.njk" import renderFooter %}

    {{ renderFooter({ 
        name: "thomas_footer",
        datas: organisms.footer.footers,
        vectorDatas: atoms.vector.vectors,
        linkDatas: atoms.link.links,
        iconDatas: atoms.icon.icons
    }) }}

    {# ----- JavaScript scripts ----- #}
    <script src="/js/main.js" defer></script>
    <script src="/js/atoms/svg-loader.js" defer></script>
    <script src="/js/atoms/scroll-to-top.js" defer></script>
    <script src="/js/molecules/tab-menu.js" defer></script>
    <script src="/js/molecules/acc-card.js" defer></script>
    <script src="/js/molecules/reco-card.js" defer></script>

    {# Organisms scripts #}
    <script src="/js/organisms/header.js" defer></script>
    <script src="/js/organisms/section-approach.js"></script>

    {# ----- Netlify CMS redirect (optional) ----- #}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>
</html>