{#
=========================
     SECTION-CONTACT        
=========================
#}

{% from "02-molecules/list-form.njk" import renderListForm %}

{% macro renderSectionContact(options) %}
  {% if options.datas %}
    {% set globalStyle = options.datas.globalStyle %}
    {% set containerStyle = options.datas.containerStyle | default('container mx-auto px-4') %}
    
    {% set sectionData = null %}
    {% if options.name %}
      {% for section in options.datas.sections %}
        {% if section.name == options.name %}
          {% set sectionData = section %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if not sectionData %}
      {% set sectionData = options.datas.sections[0] %}
    {% endif %}
    
    <section class="{{ globalStyle }} bg-[#2b3947] text-white py-8 {{ options.class | default('') }}">
      <div class="{{ containerStyle }}">
        <div class="flex justify-center">
          <div class="w-full lg:w-1/2 {{ sectionData.form.wrapperStyle }}">
            {# Champ honeypot pour protection anti-spam #}
            <div aria-hidden="true" style="position: absolute; left: -9999px; top: -9999px;">
              <input type="text" name="website" tabindex="-1" autocomplete="off">
            </div>
            
            {{ renderListForm({
              name: sectionData.form.name,
              datas: options.listForms,
              atoms: options.atoms,
              submitLabel: options.submitLabel | default("Envoyer"),
              action: options.action | default("#"),
              method: options.method | default("POST"),
              class: "bg-[#2b3947]"
            }) }}
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <span class="text-red-500">Section contact data not found</span>
  {% endif %}
{% endmacro %}


{#
============================
Utilisation du composant
============================

1. Import the macro at the top of your page
{% from "01-organisms/section-contact.njk" import renderSectionContact %}

2. Call the section-contact component
{{ renderSectionContact({ 
    name: "default",
    datas: organisms["section-contacts"],
    listForms: molecules["list-forms"],
    atoms: atoms
}) }}
#}