---
title: Nos bateaux
description: Page des bateaux
layout: '00-core/base.njk'
---

{# Section Hero Page Bateau #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "bateaux_hero",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    icons: atoms.icons
}) }}

{# Conteneur pour la liste des bateaux avec l'ID boat-list pour le scroll #}
<div id="boat-list">

    {# Section bateau "Nine" #}
    {% from "01-organisms/collection.njk" import renderCollection %}

    {{ renderCollection({ 
        name: "ma_nine", 
        datas: boats, 
        headings: atoms.headings, 
        links: atoms.links,
        icons: atoms.icons,
        carousels: organisms.carousels,
        images: atoms.images,
        buttons: atoms.buttons
    }) }}

    {# Section bateau "Alba" #}
    {{ renderCollection({ 
        name: "ma_alba", 
        datas: boats, 
        headings: atoms.headings, 
        links: atoms.links,
        icons: atoms.icons,
        carousels: organisms.carousels,
        images: atoms.images,
        buttons: atoms.buttons,
        reversed: true
    }) }}

    {# Section bateau "First" #}
    {{ renderCollection({ 
        name: "ma_first", 
        datas: boats, 
        headings: atoms.headings, 
        links: atoms.links,
        icons: atoms.icons,
        carousels: organisms.carousels,
        images: atoms.images,
        buttons: atoms.buttons
    }) }}

    {# Section bateau "Libecciu" #}
    {{ renderCollection({ 
        name: "ma_libecciu", 
        datas: boats, 
        headings: atoms.headings, 
        links: atoms.links,
        icons: atoms.icons,
        carousels: organisms.carousels,
        images: atoms.images,
        buttons: atoms.buttons,
        reversed: true
    }) }}

    {# Section bateau "Enzo" #}
    {{ renderCollection({ 
        name: "ma_enzo", 
        datas: boats, 
        headings: atoms.headings, 
        links: atoms.links,
        icons: atoms.icons,
        carousels: organisms.carousels,
        images: atoms.images,
        buttons: atoms.buttons
    }) }}

    {# Section bateau "Casa Blanca" #}
    {{ renderCollection({ 
        name: "ma_casablanca", 
        datas: boats, 
        headings: atoms.headings, 
        links: atoms.links,
        icons: atoms.icons,
        carousels: organisms.carousels,
        images: atoms.images,
        buttons: atoms.buttons,
        reversed: true
    }) }}
</div>

{# Section Info & options #}
{% from "01-organisms/section-text.njk" import renderSectionText %}

{{ renderSectionText({ 
    name: "ma_nautic_info",
    datas: organisms["section-texts"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links
}) }}

{# Ajouter l'inclusion du script pour le défilement ici #}
<script src="/js/organisms/section-scroll.js"></script>