---
title: Nos bateaux
description: Page des bateaux
permalink: "/nos-bateaux/" 
layout: '00-core/base.njk'
---

{# Section Hero Page Bateau #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "bateaux_hero",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    icons: atoms.icons
}) }}

{# Conteneur pour la liste des bateaux avec l'ID boat-list pour le scroll #}
<div id="boat-list">
    {% from "01-organisms/section-boat.njk" import renderSectionBoat %}

    {# Utilisation du filtre sortByPrice pour trier les bateaux par prix croissant #}
    {% set sortedBoats = collections.boat | sortByPrice %}
    
    {% set isReversed = false %} {# Démarre en mode normal #}

{% for boat in sortedBoats %}
    {% set carousel = null %}

    {# Trouver le carousel correspondant #}
    {% for item in collections.carousel %}
        {% if item.data.name == boat.data.carousel_name %}
            {% set carousel = item %}
        {% endif %}
    {% endfor %}

    {# Afficher la section avec le mode normal ou inversé #}
    {{ renderSectionBoat({ 
        boat: boat.data, 
        carouselItem: carousel,
        datas: boats, 
        headings: atoms.headings, 
        links: atoms.links,
        icons: atoms.icons,
        carousels: organisms.carousels,
        images: atoms.images,
        buttons: atoms.buttons,
        reversed: isReversed
    }) }}

    {% set isReversed = not isReversed %} {# Inverse la valeur pour la prochaine boucle #}
{% endfor %}

</div>

{# Section Info & options #}
{% from "01-organisms/section-text.njk" import renderSectionText %}

{{ renderSectionText({ 
    name: "ma_nautic_info",
    datas: organisms["section-texts"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links
}) }}