---
permalink: "/nos-bateaux/" 
layout: '00-core/base.njk'
---

{# Boat Hero Section #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "boat_hero",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links,
    icons: atoms.icons
}) }}

{# Navigate Cards Section #}
{% from "01-organisms/section-card.njk" import renderSectionCard %}

{{ renderSectionCard({ 
    name: "boat_navigate",
    datas: organisms["section-cards"],
    headings: atoms.headings,
    links: atoms.links
}) }}

{# Boat Section #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "boat_boat",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links,
    icons: atoms.icons
}) }}

{# Container for boat list with boat-list ID for scrolling #}
<div id="boat-list">
    {% from "01-organisms/section-boat.njk" import renderSectionBoat %}

    {# Using sortByPrice filter to sort boats by increasing price #}
    {% set sortedBoats = collections.boat | sortByPrice %}
    
    {% set isReversed = false %} {# Starts in normal mode #}

{% for boat in sortedBoats %}
    {% set carousel = null %}

    {# Find the corresponding carousel #}
    {% for item in collections.carousel %}
        {% if item.data.name == boat.data.carousel_name %}
            {% set carousel = item %}
        {% endif %}
    {% endfor %}

    {# Display section with normal or reversed mode #}
    {{ renderSectionBoat({ 
        boat: boat.data, 
        carouselItem: carousel,
        datas: boats, 
        headings: atoms.headings, 
        links: atoms.links,
        icons: atoms.icons,
        carousels: organisms.carousels,
        images: atoms.images,
        buttons: atoms.buttons,
        reversed: isReversed
    }) }}

    {% set isReversed = not isReversed %} {# Invert value for next loop #}
{% endfor %}

</div>

{# Who Hero Section #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "boat_who",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links,
    icons: atoms.icons
}) }}

{# Price Cards Section #}
{% from "01-organisms/section-card.njk" import renderSectionCard %}

{{ renderSectionCard({ 
    name: "boat_price",
    datas: organisms["section-cards"],
    headings: atoms.headings,
    links: atoms.links
}) }}

{# Why Hero Section #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "boat_why",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links,
    icons: atoms.icons
}) }}

{# Base Cards Section #}
{% from "01-organisms/section-card.njk" import renderSectionCard %}

{{ renderSectionCard({ 
    name: "boat_base",
    datas: organisms["section-cards"],
    headings: atoms.headings,
    links: atoms.links
}) }}