--- 
title: Contact 
description: This is the contact page
permalink: "/contact/" 
layout: '00-core/base.njk' 
---

{# Contact Hero Section #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "contact_hero",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    icons: atoms.icons
}) }}

{# Container for form with contact-form ID for scrolling #}
<div id="contact-form">

    {# Form Section #}
    {% from "01-organisms/section-contact.njk" import renderSectionContact %}

    {{ renderSectionContact({ 
    name: "ma_registration",
    datas: organisms["section-contacts"],
    listForms: molecules["list-forms"],
    atoms: atoms
}) }}

    {# Leaflet.js Map with marker on M.A Nautic #}
    <div id="map" style="width: 100%; height: 500px;"></div>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var map = L.map('map').setView([42.681846, 9.303704], 15);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);
            
            // Define custom icon
            var customIcon = L.icon({
                iconUrl: '/assets/logos/ma-logo.svg',
                iconSize: [50, 50], // Icon size
                iconAnchor: [25, 50], // Anchor point
                popupAnchor: [0, -50] // Popup position
            });
            
            L.marker([42.681846, 9.303704], {icon: customIcon})
                .addTo(map)
                .bindPopup("<b>M.A Nautic</b><br>Saint-Florent, Corse")
                .openPopup();
        });
    </script>
</div>