--- 
permalink: "/contact/" 
layout: '00-core/base.njk' 
---

{# Contact Hero Section #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "contact_hero",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links,
    icons: atoms.icons
}) }}

{# Contact Highlight Section with ID for scrolling  #}
<div id="contact-form">
  {% from "01-organisms/section-highlight.njk" import renderSectionHighlight %}

{{ renderSectionHighlight({ 
    name: "ma_nautic_contact",
    datas: organisms["section-highlights"],
    headings: atoms.headings,
    images: atoms.images,
    links: atoms.links,
    forms: molecules["list-forms"],
    atoms: atoms
}) }}
</div>

{# Contact Infos Section #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "contact_infos",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links,
    icons: atoms.icons
}) }}

{# Leaflet.js Map with marker on M.A Nautic #}
<div id="map" style="width: 100%; height: 500px;"></div>

{# External CSS and JS for Leaflet #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

{# Custom map initialization script #}
<script src="/js/utils/map-contact.js"></script>
</div>

{# Adding JSON-LD structured data for LocalBusiness #}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "M.A Nautic",
  "image": "image": "https://manautic-location-bateau.com/assets/logos/ma-logo.svg",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Lieu-dit Schinu route Calvi",
    "addressLocality": "Saint-Florent",
    "addressRegion": "Haute-Corse",
    "postalCode": "20217",
    "addressCountry": "FR"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+33-6-25-70-47-10",
    "contactType": "customer service",
    "areaServed": "FR",
    "availableLanguage": "fr"
  },
  "sameAs": [
    "https://www.facebook.com/M.A.Nautic/", "https://www.instagram.com/m.a.nautic/"
  ],
  "url": "https://manautic-location-bateau.com/",
  "priceRange": "€€",
  "openingHours": "Mo-Su 09:30-18:00",
  "contentBlocks": [
    {% for block in contentBlocks %}
      {
        "text": "{{ block.text | safe }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>