--- 
permalink: "/faq/" 
layout: '00-core/base.njk' 
---

{# FAQ Hero Section #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "faq_hero",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    icons: atoms.icons
}) }}

{# FAQ Section #}
{% from "01-organisms/section-page.njk" import renderSectionPage %}

{{ renderSectionPage({ 
    name: "ma_faq",
    datas: faqs,
    headings: atoms.headings,
    links: atoms.links,
    icons: atoms.icons
}) }}