---
permalink: "/"
layout: '00-core/base.njk'
---

{# ========== IMPORTS ========== #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}
{% from "01-organisms/section-acc.njk" import renderSectionAcc %}
{% from "01-organisms/section-contact.njk" import renderSectionContact %}

{# ========== HERO SECTION ========== #}
{{ renderSectionHero({ 
    name: "hero_thomas",
    datas: organisms["section-hero"].sections,
    typographyDatas: atoms.typography.texts,
    imageDatas: atoms.image.images,
    ctaButtonDatas: molecules["cta-button"]["cta-buttons"],
    ctaBlockDatas: molecules["cta-block"]["cta-blocks"],
    buttonDatas: atoms.button.buttons,
    iconDatas: atoms.icon.icons
}) }}


{# ========== ACCOMPANIEMENT SECTION ========== #}
{{ renderSectionAcc({ 
    name: "thomas_acc_section",
    datas: organisms["section-acc"].sections,
    accCardDatas: molecules["acc-card"]["acc-cards"],
    imageDatas: atoms.image.images,
    typographyDatas: atoms.typography.texts,
    linkDatas: atoms.link.links
}) }}

{# ========== CONTACT SECTION ========== #}
{{ renderSectionContact({ 
    name: "thomas_section_contact",
    datas: organisms["section-contact"].section_contacts,
    contactBlockDatas: molecules["contact-block"].contact_blocks,
    typographyDatas: atoms.typography.texts,
    iconDatas: atoms.icon.icons,
    buttonDatas: atoms.button.buttons
}) }}