---
permalink: "/"
layout: '00-core/base.njk'
---

<h1>Thomas Sophro - Professional Site</h1>
<p>Welcome! This is the starting point of your sophrology services website.</p>

{% from "03-atoms/icon.njk" import renderIcon %}

{{ renderIcon({ 
    name: "cta_calendar",
    datas: atoms.icon.icons
}) }}