---
title: Lieux d'intérêts
description: Page des lieux d'intérêts
layout: '00-core/base.njk'
---

{# Section Hero Page Lieu #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "lieux_hero",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    icons: atoms.icons
}) }}

{# Conteneur pour la liste des bateaux avec l'ID boat-list pour le scroll #}
<div id="spot-list">

{# Section lieu "Agriates" #}
{% from "01-organisms/collection.njk" import renderCollection %}

{{ renderCollection({ 
    name: "agriates_desert", 
    datas: spots, 
    headings: atoms.headings, 
    links: atoms.links,
    icons: atoms.icons,
    carousels: organisms.carousels,
    images: atoms.images,
    buttons: atoms.buttons
}) }}

{# Section lieu "Cap Corse" #}
{% from "01-organisms/collection.njk" import renderCollection %}

{{ renderCollection({ 
    name: "cap_corse", 
    datas: spots, 
    headings: atoms.headings, 
    links: atoms.links,
    icons: atoms.icons,
    carousels: organisms.carousels,
    images: atoms.images,
    buttons: atoms.buttons,
    reversed: true
}) }}

{# Ajouter l'inclusion du script pour le défilement ici #}
<script src="/js/organisms/section-scroll.js"></script>