---
permalink: "/lieux-interet/" 
layout: '00-core/base.njk'
---

{# Spot Hero Section #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "spot_hero",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links,
    icons: atoms.icons
}) }}

{# CapCorse Carousel Section #}

{# Container for location list with spot-list ID for scrolling #}
<div id="spot-list">

{# Location section "Agriates" #}
{% from "01-organisms/section-spot.njk" import renderSectionSpot %}

{{ renderSectionSpot({ 
    name: "agriates_desert", 
    datas: spots, 
    headings: atoms.headings, 
    links: atoms.links,
    icons: atoms.icons,
    carousels: organisms.carousels,
    images: atoms.images,
    buttons: atoms.buttons
}) }}

{# Map Highlight Section #}
{% from "01-organisms/section-highlight.njk" import renderSectionHighlight %}

{{ renderSectionHighlight({ 
    name: "ma_nautic_map",
    datas: organisms["section-highlights"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links
}) }}

{# Site Hero Section #}
{% from "01-organisms/section-hero.njk" import renderSectionHero %}

{{ renderSectionHero({ 
    name: "spot_site",
    datas: organisms["section-heros"],
    headings: atoms.headings,
    buttons: atoms.buttons,
    images: atoms.images,
    links: atoms.links,
    icons: atoms.icons
}) }}

{# Divers Cards Section #}
{% from "01-organisms/section-card.njk" import renderSectionCard %}

{{ renderSectionCard({ 
    name: "spot_divers",
    datas: organisms["section-cards"],
    headings: atoms.headings,
    links: atoms.links
}) }}